#
# PyLucid .htaccess file
# per default: using the CGI Version (index.cgi)
#
# You can easy change this to use fastCGI, see below.
#

# Enable execution of CGI scripts using mod_cgi
# http://httpd.apache.org/docs/2.0/mod/core.html#options
Options +ExecCGI

# Old (?) fastCGI Apache module:
#AddHandler fastcgi-script .fcgi

# New (?) fastCGI Apache module:
#AddHandler fcgid-script .fcgi

# http://httpd.apache.org/docs/2.0/mod/mod_mime.html#addhandler
AddHandler cgi-script .cgi

RewriteEngine On

# leave out media files and cgi-bin
RewriteRule ^_static_files - [L]
RewriteRule ^cgi-bin - [L]

RewriteCond %{REQUEST_FILENAME} !-f

# for CGI Version:
RewriteRule ^(.*)$ index.cgi/$1 [QSA,L]

# for fastCGI Version:
#RewriteRule ^(.*)$ index.fcgi/$1 [QSA,L]