<fieldset><legend>Select a unicode block:</legend>
    <label for="block">select a unicode block:</label>
    <form name="block_select" method="post" action="{{ url }}">
        <select name="block">
            {% for block in blocks %}
            <option value="{{ block.id }}" {% ifequal block.id selected_id %}selected="selected"{% endifequal %}>
                {{ block.id }} - {{ block.name }}
            </option>
            {% endfor %}
        </select>
        <input value="display" type="submit">
    </form>
</fieldset>