{*
Hier werden nur Blöcke definiert, die in das eigentliche User-Template
automatisch eingefügt werden.
*}

{% extends "Browser_template" %}

{% block "info_link" %}<a href="?action=info">info</a>{% endblock %}

{% block "file_list" %}
    {% if not filelist %}
        <small>[ no files ]</small>
    {% else %}
        <table id="filelist">
            <tr>
                <th>filename</th>
                <th>modification time</th>
                <th>size</th>
                <th>file info</th>
            </tr>
            {% for file in filelist %}
            {% cycle rowclass through "odd", "even" %}
            <tr class="{{ rowclass }}">
                <td>{{ file.name|escapexml }}</td>
                <td>{{ file.mtime }}</td>
                <td>{{ file.size }}</td>
                <td>{{ file.info|escapexml }}</td>
            </tr>

            {% endfor %}
        </table>
        <form name="download" method="post" action="{{ download.url }}?action=download">
            <label class="left" for="artist">Artist:</label>
            <input class="right" id="artist" name="artist" type="text" value="{{ download.artist }}" size="50" maxlength="50" />
            <br />
            <label class="left" for="album">Album:</label>
            <input class="right" id="album" name="album" type="text" value="{{ download.album }}" size="50" maxlength="50" />
            <br />
            <input type="submit" value="download" name="download" />
            <input type="checkbox" name="simulation" value="simulation" /> simulation
        </form>
    {% endif %}
{% endblock %}

</fieldset>
</form>


{% block "dir_list" %}
    <ul id="dirlist">
    {% for dir in dirlist %}
        {% if show_letters %}
        <h3>{{ dir.letter }}</h3>
        {% endif %}
        {% for item in dir.items %}
            <li><a href="{{ item.url }}">{{ item.name|escapexml }}</a></li>
        {% endfor %}
    {% endfor %}
    {% if not dirlist %}<li><small>[ no dirs ]</small></li>{% endif %}
</ul>
{% endblock %}


{% block "debug" %}
    {% if cfg.debug %}
    <hr>
    <h4>Jinja-Debug:</h4>
    <pre>{% debug %}</pre>
    {% endif %}
{% endblock %}


{% block "footer" %}
    <p>[only_https: {{ cfg.only_https }},
    only_auth_users: {{ cfg.only_auth_users }},
    ext_whitelist: {{ cfg.ext_whitelist }}]<br />
    You are: {{ username }} - {% if is_admin %}admin{% else %}normal user{% endif %}<br />
    filesystemencoding: {{ filesystemencoding }}<br />
    <script_duration /><br />
    {{ __info__ }}</p>
{% endblock %}
