<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ title }}</title>
<meta http-equiv="expires" content="900" />
<link rel="stylesheet" type="text/css" href="/templates/Browser.css" />
</head>
<body>

{% marker "back_link" %}

<fieldset><legend>current downloads</legend>
    {% marker "current_downloads" %}
</fieldset>

<fieldset><legend>raw db info</legend>
    {% marker "raw_db_info" %}
</fieldset>

<div id="footer">
    {% marker "footer" %}
</div>

{% marker "debug" %}
</body></html>
