<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PyLucid setup</title>
<meta http-equiv="expires" content="0" />
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ PyLucid_media_url }}install_views.css" />
{% block head %}{% endblock %}
</head>
<body>
<a name="top"></a>
<h3>PyLucid v{{ version }} - setup@<a href="/" title="{% trans 'goto your PyLucid CMS page' %}">{{ http_host }}</a></h3>
{% if not no_menu_link %}<p><a href="{% url PyLucid.install.index.menu . %}">&#xAB; {% trans 'back to menu' %}</a></p>{% endif %}
{% if messages %}
    <fieldset id="page_msg"><legend>page message</legend>
    {% for message in messages %}
      {{ message|escape }}<br />
    {% endfor %}
    </fieldset>
{% endif %}
{% block content %}{% endblock %}
{% if not no_menu_link %}<p><a href="{% url PyLucid.install.index.menu . %}">&#xAB; {% trans 'back to menu' %}</a> |{% endif %}
<a href="#top">&#x5E; {% trans 'top' %}</a> | <a href="{% url PyLucid.install.index.logout . %}">{% trans 'Log out' %}</a>
{% if install_pass %}</p>{% endif %}
<hr />
<small>
<p>{% trans 'page stats:' %} <!-- script_duration --></p>
</small>
</body></html>