<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ title }}</title>
<meta http-equiv="expires" content="900" />
<link rel="stylesheet" type="text/css" href="/templates/Browser.css" />
</head>
<body>

<fieldset><legend>server info</legend>
    {% marker "serverInfo" %}
</fieldset>

<fieldset><legend>menu</legend>
    {% marker "TABs" %}
</fieldset>

<fieldset><legend>current path</legend>
    {% marker "navi" %}
</fieldset>

<fieldset><legend>download</legend>
    {% marker "file_list" %}
</fieldset>

<fieldset><legend>dir list</legend>
    {% marker "dir_list" %}
</fieldset>

<div id="footer">
    {% marker "footer" %}
</div>

{% marker "debug" %}
</body></html>
