html, body {
	padding: 10px;
	background-color: #fff;
}
body {
	font-family: tahoma, arial, sans-serif;
	color: #a00;
	font-size: 0.9em;
	background-color: #fee;
	margin: 10px;
	padding: 20px;
	border: 3px solid #f77;
}
fieldset {
	border: 1px solid #faa;
}
#filelist {
	/*border: 1px solid #fff;*/
	padding: 5px;
	margin: 5px;
}
#filelist td {
	margin: 0px;
	padding: 5px;
}
#filelist tr.odd {
	background-color: #fdd;
}
a {
	color: #f00;
}
#footer {
	font-size: 0.6em;
}
#footer, #footer a {
	margin-top: 1em;
	color: #f99;
	text-decoration:none;
	text-align: right;
}